:host {
  display: flex;
  box-sizing: border-box;
  width: 100%;      
}

.page-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 1px 1px 6px #d4a5a5d0;
  overflow: hidden;
  margin: 1rem;

}

.page-block:hover {
  box-shadow: 1px 1px 6px  #d4a5a5;
}

@media (min-width: 1920px) {
  .page-block {
    padding: 1.5rem;
  }
  
}
