.footer-container{
  display:flex;
  width: 100%;
  padding: 2vh 10vw;
  padding: 2dvh 10dvw;
  align-items: center;
  justify-content: center;
  height: 10vh;
  height: 10dvh;
  background-color: transparent;
  margin: 0 auto;
  color: var(--text-color);
  background-color: transparent;
  border-top: 1px solid var(--border-color-light);

}