.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 1.5rem;
  border: none;
  background: #fffdfd;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  font-family: var(--font-type-button);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.219);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.nav-button.selected {
  background-color: var(--olivia-rose);
  color:white;
  border-bottom: 2px solid var(--olivia-rose);
}

.nav-button.dark-red,
.nav-button.dark-red.selected {
  background-color: var(--button-primary);
  color: white;
  border-bottom: 2px solid var(--button-active);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.nav-button.dark-red:hover {
  background-color: var(--button-hover);
  color:white;
}






@media (min-width: 1200px) and (hover: hover){
  .nav-button {
    width: auto;
    min-width: none;
    padding: .5vw;
    border-radius: 2px;
    border-width: 4px;
    font-size: 1rem;
    box-shadow: none;
    background-color: transparent;
  }
  .nav-button:hover {
    background-color: transparent;
    color: var(--title-color);
  }
  .nav-button.selected {
    background-color: transparent;
    color: var(--text-color);
    border-bottom: 2px solid var(--button-primary);
  }
  .nav-button.selected:hover {
    color: var(--title-color);
    border-bottom: 2px solid var(--olivia-rose);;
  }
}
@media (min-width: 1440px) and (hover: hover){
  .nav-button {
    font-size: 1.5rem;
  }
}
