:host {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.appointment-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2vh 10vw;
  padding: 2dvh 10dvw;
  margin-top: 4vh;
  margin-top: 4dvh;
  margin-bottom: 4dvh;
  gap: 2rem;
  cursor: default;
}

.contact-blocks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .appointment-page {
    margin-top: 2vh;
    margin-top: 2dvh;
    gap: 8dvh;
    gap: 8dvh;
  }
}

@media (min-width: 1240px) {
  .appointment-page {
    padding: 2vh 10vw;
    padding: 2dvh 10dvw;
    gap: 10vw;
    gap: 10dvw;
  }

  .contact-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    gap: 2rem;
  }
}

@media (min-width: 1440px) {
  .appointment-page {
    padding: 2vh 14vw;
    padding: 2dvh 14dvw;
  }
}
