<div class="header-container">
  <div class="site-name">
    <h1>Dr. Mathot</h1>
  </div>

  <div class="hamburger-menu">
    <img [src]="'icons/menu-burger.svg'" 
         alt="Menu" (click)="toggleNav()" class="hamburger-icon">
  </div>

  <navigation-bar-mobile 
    [navButtons]="navButtons" 
    class="navigation-bar-mobile"
    [class.is-open]="isNavOpen"
    (navButtonClick)="closeNav()">
  </navigation-bar-mobile>


  <navigation-bar 
    [navButtons]="navButtons" 
    class="navigation-bar-desktop"> 
  </navigation-bar>
</div>