
.header-container{
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  min-height: 10dvh;
  align-items: center;
  background-color: #ffffff;
  padding: 2vh 10vw;
  padding: 2dvh 10dvw;
  margin: 0 auto;
}


.site-name{
  font-family: var(--font-type-title); 
  font-weight: 600;
  font-size: 1.5rem;      
  letter-spacing: 1px;    
  color: var(--title-color);
  text-decoration: none;
  display: flex;
  align-items: center;

}


