<section class="home-header">

  <div class="text-container">
    <h1>{{ languageService.t('home.titleLine1') }}<br /> {{ languageService.t('home.titleLine2') }}</h1>
      <div class="image-container">
        <img
          src="/images/fakedoctor.png"
          [attr.alt]="languageService.t('home.profileImageAlt')"
          class="profile-img"
        />
      </div>
    <p class="subtitle">{{ languageService.t('home.subtitle') }}</p>

    <button class="btn" type="button" (click)="goToContactPage()">
      {{ languageService.t('home.ctaBookAppointment') }}
    </button>
  </div>


</section>
