.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 10vw;
  padding: 2dvh 10dvw;

  position: relative;

  background-image: url('/backgrounds/waves.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 4px 6px #fcfaf8;

  min-height: 54vh;
  min-height: 54dvh;
  position: relative;
  user-select: none;

  margin-bottom: 10vh;
  margin-bottom: 10dvh;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  height: 28dvh;
  height: 28dvh;
  width: 28vh;
  width: 28dvh;
  box-shadow: 2px 4px 8px #d4a5a5d0;
  overflow: hidden;
}
.image-container:hover {
  box-shadow: 2px 4px 8px #d4a5a5ec;
}

.image-container img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 32px;
  transition: transform 0.5s ease;

}

.text-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  gap: 2vh;
  gap: 2dvh;
  align-items: center;
  text-align: center;
}

.text-container h1 {
  font-size: 2.25em;
}

.text-container p {
  font-size: 1.2em;
  max-width: 500px;
}

.btn {
  font-size: 1.05em;
  margin: 2vh 0;
  margin: 2dvh 0;
}

@media (min-width: 768px) {
  .image-container:hover img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

  .image-container {
    position: absolute;
    right: 10vw;
    right: 10dvw;
    bottom: -2vw;
    bottom: -2dvw;
  }

  .text-container {
    padding-top: 10vh;
    padding-top: 10dvh;
    align-items: flex-start;
    text-align: left;
  }

  .home-header {
    min-height: 45vh;
    min-height: 45dvh;
    margin-bottom: 14vh;
    margin-bottom: 14dvh;
  }

  .text-container h1 {
    font-size: 2.5em;
    margin-bottom: 2vh;
    margin-bottom: 2dvh;
  }

  .text-container br {
    display: none;
  }

  .text-container p {
    font-size: 1.2em;
    max-width: 50%;
  }
  .btn {
    font-size: 1.2em;
    margin-top: 3vh;
    margin-top: 3dvh;
  }
}

@media (min-width: 1024px) {
  .image-container {
    position: absolute;
    right: 10vw;
    right: 10dvw;
    bottom: -2dvw;
    bottom: -2dvw;
    height: 18vw;
    height: 18dvw;
    width: 18vw;
    width: 18dvw;
  }
  .image-container img {
    height: 100%;
    width: 100%;
  }

  .text-container h1 {
    font-size: 2.5em;
    margin-bottom: 2vh;
    margin-bottom: 2dvh;
  }
  .btn {
    font-size: 1.2em;
    margin-top: 3vh;
    margin-top: 3dvh;
  }
  .home-header {
    min-height: 40vh;
    min-height: 40dvh;
    margin-bottom: 16vh;
    margin-bottom: 16dvh;
  }
  .text-container br {
    display: inline;
  }
}

@media (min-width: 1240px) {
  .home-header {
    padding: 2vh 10vw;
    padding: 2dvh 10dvw;

    min-height: 42vh;
    min-height: 42dvh;
  }

  .image-container {
    height: 20vw;
    height: 20dvw;
    width: 20vw;
    width: 20dvw;
  }


  .text-container {
    padding-top: 14vh;
    padding-top: 14dvh;
  }

  .text-container p {
    font-size: 1.2em;
    max-width: 500px;
  }

  .btn {
    font-size: 1.2em;
    margin-top: 3vh;
    margin-top: 3dvh;
  }
}
@media (min-width: 1440px) {
  .home-header {
    padding: 2vh 14vw;
    padding: 2dvh 14dvw;
    margin-bottom: 18vh;
    margin-bottom: 18dvh;
  }

  .image-container {
    height: 22dvw;
    height: 22dvw;
    width: 22vw;
    width: 22dvw;
  }


}
